node-red/deurbel.json
[{"id":"ff7619bc.e8f278","type":"tab","label":"Deurbel","disabled":false,"info":""},{"id":"824096e6.b82d98","type":"mqtt out","z":"ff7619bc.e8f278","name":"","topic":"striva/f/deurbel","qos":"1","retain":"","broker":"f8d59a53.ad4008","x":440,"y":60,"wires":[]},{"id":"b6a83c88.c1a44","type":"inject","z":"ff7619bc.e8f278","name":"Push","topic":"deurbel","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":80,"wires":[["824096e6.b82d98"]]},{"id":"51b52608.ecd878","type":"cast-to-client","z":"ff7619bc.e8f278","name":"Zwart","url":"","contentType":"","message":"","language":"","ip":"192.168.1.230","port":"","volume":"","x":570,"y":280,"wires":[[]]},{"id":"20b2947.9fd146c","type":"cast-to-client","z":"ff7619bc.e8f278","name":"Wit","url":"","contentType":"","message":"","language":"nl","ip":"192.168.1.231","port":"","volume":"","x":570,"y":340,"wires":[[]]},{"id":"fff3bee8.b8847","type":"mqtt in","z":"ff7619bc.e8f278","name":"","topic":"striva/f/deurbel","qos":"1","datatype":"json","broker":"f8d59a53.ad4008","x":120,"y":200,"wires":[["c8495150.f2e5e"]]},{"id":"a6405b27.83b538","type":"change","z":"ff7619bc.e8f278","name":"set volume","rules":[{"t":"set","p":"payload.volume","pt":"msg","to":"20","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":280,"wires":[["51b52608.ecd878"]]},{"id":"20ac5a5c.3d84a6","type":"change","z":"ff7619bc.e8f278","name":"set volume","rules":[{"t":"set","p":"payload.volume","pt":"msg","to":"5","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":340,"wires":[["20b2947.9fd146c"]]},{"id":"c8495150.f2e5e","type":"change","z":"ff7619bc.e8f278","name":"set msg.payload for deurbel","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"message\":\"Ding dong!\",\"language\":\"en\",\"url\":\"http://soundbible.com/grab.php?id=1466&type=mp3\",\"contentType\":\"audio/basic\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":180,"y":280,"wires":[["a6405b27.83b538"]]},{"id":"10b38890.6f1147","type":"ui_button","z":"ff7619bc.e8f278","name":"","group":"e8eb4566.d9e628","order":5,"width":0,"height":0,"passthru":false,"label":"Belleke","tooltip":"","color":"","bgcolor":"","icon":"fa-bell","payload":"true","payloadType":"bool","topic":"deurbel","x":220,"y":40,"wires":[["824096e6.b82d98"]]},{"id":"f8d59a53.ad4008","type":"mqtt-broker","z":"","name":"adafruit","broker":"io.adafruit.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e8eb4566.d9e628","type":"ui_group","z":"","name":"Deurbel","tab":"c30fed36.5714e","disp":true,"width":"6","collapse":false},{"id":"c30fed36.5714e","type":"ui_tab","z":"","name":"Deurbel","icon":"dashboard","disabled":false,"hidden":false}]